@charset "UTF-8";
/*
    Backend CSS
*/
label.description {
  display: block; }

p.submit {
  margin-top: 10px;
  padding-left: 20px; }

.wrap div.updated {
  margin-right: 300px; }

#einstellungen {
  margin-top: 20px; }
  #einstellungen div {
    margin-left: 10px; }
  #einstellungen table tr:hover,
  #einstellungen table tr:focus {
    background-color: #eeeeee;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
  #einstellungen table th {
    text-align: left;
    min-width: 200px; }
  #einstellungen table td {
    padding-bottom: 5px; }
    #einstellungen table td table th {
      min-width: 50px; }
  #einstellungen input.regular-text, #einstellungen input.url {
    width: 40em; }
  #einstellungen select {
    min-width: 4em; }

h2.nav-tab-wrapper, h3.nav-tab-wrapper {
  margin-top: 30px; }

label.tile {
  width: 320px;
  height: auto;
  float: left;
  padding: 0 2px;
  margin: 5px;
  border: 3px solid transparent; }
  label.tile:hover {
    background-color: #eee; }
  label.tile img {
    margin: 0;
    padding: 0; }

label.plakattile {
  width: 160px;
  height: 250px;
  float: left;
  border: 1px solid #ccc;
  padding: 1px;
  margin: 5px; }
  label.plakattile:hover {
    background-color: #eee; }

img.imgurl {
  display: block; }

/*
 * jQuery UI Datepicker 1.8.14
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Datepicker#theming
 */
.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
  display: none;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  z-index: 100 !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0; }

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 5px;
  width: 1.8em;
  height: 1.8em;
  cursor: pointer; }

.ui-datepicker .ui-datepicker-prev {
  left: 5px;
  font-size: 0px;
  line-height: 0%;
  width: 0px;
  border-top: 7px solid #fff;
  border-right: 13px solid #ccc;
  border-bottom: 7px solid #fff; }

.ui-datepicker .ui-datepicker-next {
  right: 5px;
  font-size: 0px;
  line-height: 0%;
  width: 0px;
  border-top: 7px solid #fff;
  border-left: 13px solid #ccc;
  border-bottom: 7px solid #fff; }

.ui-datepicker .ui-datepicker-prev-hover {
  border-right-color: #aaa; }

.ui-datepicker .ui-datepicker-next-hover {
  border-left-color: #aaa; }

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px; }

.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center; }

.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0; }

.ui-datepicker select.ui-datepicker-month-year {
  width: 100%; }

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 49%; }

.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em; }

.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: bold;
  border: 0; }

.ui-datepicker td {
  border: 0;
  padding: 1px;
  text-align: center; }

.ui-datepicker td span, .ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none;
  text-align: center; }

.ui-datepicker td a.ui-state-highlight {
  outline: 1px solid #aaa; }

.ui-datepicker td a.ui-state-active {
  background: #aaa;
  color: #fff;
  cursor: default; }

.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0; }

.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible; }

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
  width: auto; }

.ui-datepicker-multi .ui-datepicker-group {
  float: left; }

.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto .4em; }

.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%; }

.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%; }

.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%; }

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
  border-left-width: 0; }

.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0; }

.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left; }

.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0em; }

/* RTL support */
.ui-datepicker-rtl {
  direction: rtl; }

.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto; }

.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto; }

.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto; }

.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto; }

.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right; }

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left; }

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: right; }

.ui-datepicker-rtl .ui-datepicker-group {
  float: right; }

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px; }

.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
  display: none;
  /*sorry for IE5*/
  display/**/: block;
  /*sorry for IE5*/
  position: absolute;
  /*must have*/
  z-index: -1;
  /*must have*/
  filter: mask();
  /*must have*/
  top: -4px;
  /*must have*/
  left: -4px;
  /*must have*/
  width: 200px;
  /*must have*/
  height: 200px;
  /*must have*/ }

/* Backend-Icon für Custom Post Type "Vortrag" */
.icon-vortrag:before, #adminmenu .menu-icon-vortrag div.wp-menu-image:before {
  content: "\f473"; }
